h1{
    color:#e50914;
    text-align: center;
}

/* div {
    text-align: center;
} */

#container {
    text-align: center;
    background-color: aliceblue;
    width: 500px;
    height: 300px;
    

}

#container input {
    font-size: 1.2em;
    margin-top: 50px;
}

#container button {
    font-size: 1.2em;

}