h1{
    color:#e50914;
    text-align: center;
}

/* div {
    text-align: center;
} */

#container {
    text-align: center;
    background-color: aliceblue;

}

#container input {
    font-size: 1.2em;
}

#container button {
    font-size: 1.2em;
    
}